.login-form {
  max-width: 360px;
  margin: 20px auto;
  background: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background: #111;
  color: #ffcc00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}

.login-form button:hover {
  background: #ffcc00;
  color: #111;
}
