/* GLOBAL STYLES */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* HEADER / NAVBAR */
header {
  padding: 15px 25px;
  background: linear-gradient(90deg, #111117, #2b2b34);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #ffcc00, #f39c12);
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 800;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

nav a:hover {
  color: #ffcc00;
}
